extends layout 

block content
  h1 Please input stuff
  form(method="POST" action="/new")
    input(type="text" name="text") 
    br 
    input(type="text" name="user")
    br
    input(type="submit" value="Submit")